extends layout

block content
  if posts && posts.length > 0
    each post, i in posts
        .post
            h1
                if(preview)
                    a(href=`/posts/show/${post._id}`)
                        =post.title
                else
                    =post.title
            if(preview)
                img.thumbnail(src=`/uploads/${post.mainimage}`)
            else
                img.mainimage(src=`/uploads/${post.mainimage}`)

            if(preview)
                !=truncateText(post.body, 400)
            else
                !=post.body
            
            if(preview)
                a.more(href=`/posts/show/${post._id}`) Read More
            p.meta Posted in 
                a.category(href=`/posts/category/${post.category}`) #{post.category} 
                by #{post.author} on #{moment(post.date).format('DD/MM/YYYY')}
            if(!preview)
                br
                hr
                include comments
  else
    h2 No posts!
    a(href='/') Back to the index